<h1>
  Hei!
</h1>

<p>
  Sinulle on luotu tunnukset osoitteeseen <%= Rails.application.credentials.dig(ENV['RAILS_CONTEXT'].to_sym, :access_control_allow_origin) %>.

  <br>
  <br>

  Sähköposti: <%= @user.email %>
  <br>
  Salasana: <%= @user.password %>
</p>
